* {
    -fx-mono1: "#494B53";
    -fx-mono2: "#696C77";
    -fx-mono3: "#A0A1A7";
    -fx-mono4: "#C2C2C3";
    -fx-cyan: "#027693";
    -fx-blue: "#4078F2";
    -fx-violet: "#A626A4";
    -fx-green: "#3f873e";
    -fx-red1: "#E45649";
    -fx-red2: "#CA1243";
    -fx-orange1: "#986801";
    -fx-orange2: "#C18401";
    -fx-bg: "#FAFAFA";
    -fx-contrast-bg: "#F0F0F0";
    -fx-low-contrast-bg: "#dddddd";
    -fx-fringe: "#9E9E9E";
    -fx-accent: "#526FFF";
    -fx-highlight: "#D0D0D0";
}

.pane {
    -fx-background-color: -fx-low-contrast-bg;
}

.tab {
    -fx-background-color: -fx-low-contrast-bg;
    -fx-pref-width: 228;
    -fx-pref-height: 45;
}

.tab-header-background {
    -fx-background-color: -fx-low-contrast-bg;
}

.tab:selected {
    -fx-background-color: -fx-cyan;
}

.tab:selected .tab-label {
    -fx-text-fill: #dddddd;
}

.tab-label {
    -fx-text-fill: black;
    -fx-font-family: System;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: black;
}

.jfx-tab-pane .tab-selected-line {
    -fx-border-color: white;
}

.jfx-button {
    -fx-text-fill: #dddddd;
    -fx-font-family: System;
    -fx-background-color: -fx-cyan;
}

.jfx-button-big {
    -fx-font-size: 40;
}

.jfx-button-back {
    -fx-font-size: 20;
}

.jfx-button-control {
    -fx-font-size: 14;
}
